---
title: Default – notification banner
layout: layout-example.njk
stylesheets:
- components/notification-banner/notification-banner.css
---

<div class="govuk-notification-banner" aria-labelledby="notification-banner-title" role="region">
  <h2 class="govuk-notification-banner__title" id="notification-banner-title">
    This publication was withdrawn on 7 March 2014
  </h2>
  <div class="govuk-notification-banner__body">
    <p>
      Archived and replaced by the <a class="govuk-link" href="#">new planning practice guidance</a> launched 6 March 2014 on an external website.
    </p>
  </div>
</div>
