---
title: Variety – notification banner
layout: layout-example.njk
stylesheets:
- components/notification-banner/notification-banner.css
---

<div class="govuk-notification-banner" aria-labelledby="notification-banner-title" role="region">
  <h2 class="govuk-notification-banner__title" id="notification-banner-title">
    Because of coronavirus (COVID-19), it’s taking longer than usual to issue passports
  </h2>
  <p class="govuk-notification-banner__body">
    Only apply for a passport now if you’re travelling on or before 30 September 2020.
  </p>
</div>

<div class="govuk-notification-banner" aria-labelledby="notification-banner-title" role="region">
  <h2 class="govuk-notification-banner__title" id="notification-banner-title">
    You have 9 days to send a response. <a class="govuk-link" href="#respond-to-application">Respond to application</a>.
  </h2>
</div>

<div class="govuk-notification-banner govuk-notification-banner--success" aria-labelledby="notification-banner-title" role="alert" tabindex="-1" data-module="initial-focus">
  <h2 class="govuk-notification-banner__title" id="notification-banner-title">
    Invite sent to example@email.com
  </h2>
</div>

<div class="govuk-notification-banner govuk-notification-banner--error" aria-labelledby="notification-banner-title" role="alert" tabindex="-1" data-module="initial-focus">
  <h2 class="govuk-notification-banner__title" id="notification-banner-title">
    The verification code you entered is incorrect or has expired. Try again or <a href="#">resend the message</a>.
  </h2>
</div>
