---
title: Notification banner
description: Use a notification banner to display important and time-sensitive information
section: Components
aliases:
backlog_issue_id: 2
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Use the notification banner to display important and time-sensitive information.

{{ example({group: "components", item: "notification-banner", example: "default", html: true, open: true, size: "s"}) }}

## When to use this component

Use the notification banner to draw attention to something that the user needs to do, or something that will affect their use of the service.

For example you could use a notification banner to tell people about:

* a disruption to the service they are using
* an important task that they need to perform soon
* an important change to the document they are reading
* whether an action they performed was successful or not

{{ example({group: "components", item: "notification-banner", example: "variety", html: true, open: true, size: "s"}) }}

## When not to use this component

Only add a notification banner to a page if its message is relevant to that page. Use notifcation banners as little as possible to avoid reducing their impact. 

Don't use notification banners within the body of a document. If you need to draw attention to content within a document, use the [warning text](../warning-text/) or [inset text](../inset-text/) components instead.

Don’t use notification banners to confirm that a user has completed a transaction, use the [confirmation page](/patterns/confirmation-pages/) pattern instead.

## How it works

There are 2 ways to use the notification banner component. You can use HTML or, if you are using Nunjucks or the GOV.UK Prototype Kit, you can use the Nunjucks macro.

{{ example({group: "components", item: "notification-banner", example: "default", html: true, open: true, size: "s"}) }}

### Success notifications

Use a green success notification banner to alert the user that the action they performed was successful. Success notifications are automatically focused after a page loads.

Only use a success notification when it’s not obvious from the context that the user’s action was successful.

{{ example({group: "components", item: "notification-banner", example: "success", html: true, open: true, size: "s"}) }}

### Error notifications

Use a red error notification banner to alert the user that the action they performed (such as filling out a form) was not successful. Error notifications are automatically focused after a page loads.

Tell the user how to fix the problem and link to where they can do this if possible. 

To help the user recover from a validation error on the same page, use the [error summary](../error-summary/) component.

{{ example({group: "components", item: "notification-banner", example: "error", html: true, open: true, size: "s"}) }}

### Accessibility

Never rely on the colour of the notification alone to communicate information to the user. The content and context of the notification must be able to do this alone.

Standard blue notifications have `role="region"` and `aria-label="notice"` attributes added to them so that assistive technologies handle them correctly.

Success and error notifications have `role="alert"` , `tab-index=-1`  and `data-module="initial-focus"` attributes applied.  This shifts the keyboard focus to them when they first appear, and immediately makes screen-reader users aware of them.

### Removing notification banners

Notification banners should persist for as long as the information they contain is relevant.

If a notification banner is no longer relevant, remove it when the user next performs a meaningful action, such as leaving or refreshing the page.

Do not remove a notification banner before the user has moved on to the next action, as they may not have had time to read it.

### Positioning notification banners

Position notification banners immediately before the page heading. This gives them visual prominence when the page loads without breaking the flow of the document.

Avoid showing multiple notification banners of the same type on the same page. Instead, combine them into a single banner.

If you have a persistent status message, you could temporarily replace it with an alert and then reinstate the status message after dismissing the alert or refreshing the page.

If you still need to show multiple notification banners then put a success or error banner before a standard banner.

Do not show error alerts and success alerts at the same time. Avoid partial successes and only show success when there are no errors.

## Research on this component

We need more research to understand whether:

* it’s sometimes helpful to allow users to dismiss notifications, and the best way to let them do this
* to use alert notifications for actions with a delayed outcome - such as the result of an overnight batch process
* users sometimes miss important information in notification banners
